doctype html

html(lang="en").
	<head>
	  <meta charset="utf-8">
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="generator" content="Polymer Starter Kit" />
	  <title>#{ title }</title>
	  <!-- Place favicon.ico in the `app/` directory -->

	  <!-- Chrome for Android theme color -->
	  <meta name="theme-color" content="#2E3AA1">

	  <!-- Web Application Manifest -->
	  <link rel="manifest" href="manifest.json">

	  <!-- Tile color for Win8 -->
	  <meta name="msapplication-TileColor" content="#3372DF">

	  <!-- Add to homescreen for Chrome on Android -->
	  <meta name="mobile-web-app-capable" content="yes">
	  <meta name="application-name" content="PSK">
	  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

	  <!-- Add to homescreen for Safari on iOS -->
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
	  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

	  <!-- Tile icon for Win8 (144x144) -->
	  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

	  <!-- build:css styles/main.css -->
	  <link rel="stylesheet" href="styles/main.css">
	  <!-- endbuild-->

	  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
	  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	  <!-- endbuild -->

	  <!-- will be replaced with elements/elements.vulcanized.html -->
	  <link rel="import" href="elements/elements.html">
	  <!-- endreplace-->

	  <!-- For shared styles, shared-styles.html import in elements.html -->
	  <style is="custom-style" include="shared-styles"></style>

		<style>
		#grad1 {
		    height: 30px;
		    background: -webkit-linear-gradient(left, #f03299 , #000099); /* For Safari 5.1 to 6.0 */
		    background: -o-linear-gradient(right, #f03299 , #000099); /* For Opera 11.1 to 12.0 */
		    background: -moz-linear-gradient(right, #f03299 , #000099); /* For Firefox 3.6 to 15 */
		    background: linear-gradient(to right, #f03299 , #000099); /* Standard syntax (must be last) */
		}
		</style>
	</head>

	<body unresolved class="fullbleed layout vertical">
	  <span id="browser-sync-binding"></span>
	  <template is="dom-bind" id="app">

	   

	      <!-- Main Area -->
	      <paper-scroll-header-panel main condenses keep-condensed-header>

		<!-- Main Toolbar -->
		
		<style>
		  #mainToolbar {
		  background: #F44336;
		  }
		  a {
		  text-decoration: none;
		  colour: white;
		  height: auto !important;
		  }
		</style>
		
		<paper-toolbar id="mainToolbar" class="tall">
		  <span class="flex"></span>

		  <!-- Application name -->

		  <div class="middle middle-container center horizontal layout">
	        <div class="app-name">Vidi</div>
	      </div>

	      <!-- Application sub title -->
	      <div class="bottom bottom-container center horizontal layout">
	        <div class="bottom-title paper-font-subhead">I saw, I helped.</div>
	      </div>
	  </div>

		</paper-toolbar>
		  <iron-pages selected="0">
		    <div>
		      
		      <style type="text/css">
			#container {
			margin-left: 5%;
			margin-right: 5%;
			padding: 0px;
			}
			#container > #divleft {
			padding: 16px;
			margin-left: 0px;
			
			}
			#container > #divright {
			padding: 16px;
			margin-right: 0px;
			max-width: 30%;
			}
		      </style>
			  
		      <div class="layout vertical">
			<div class="layout horizontal" id="container">
			  <div class="flex" id="divleft">
			    <paper-material elevation="1">
			      <p class="paper-font-title">Regional Heatmap</p>

			      <div id="map" style="height: 600px;"></div>
			      <script>
				var map;
				var dropDownMenuData="none";
				function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
					zoom: 6,
					center: {lat: 51.5142, lng: -0.0931}
					});

					if(dropDownMenuData != "none"){
						// NOTE: This uses cross-domain XHR, and may not work on older browsers.
						map.data.loadGeoJson('LA/ladata.json');

						map.data.setStyle(function(feature) {
						 return {
						 fillColor: getColor(feature.getProperty(dropDownMenuData), dropDownMenuData), // call function to get color for state based on the COLI (Cost of Living Index)
						 fillOpacity: 0.8,
						 strokeColor: '#b3b3b3',
						 strokeWeight: 1,
						 zIndex: 1
						 };
						});
					}
				}
				// returns a color based on the value given when the function is called
				function getColor(coli, scoreType) {	
					var multiply = 0;
					switch(scoreType) {
			    case "educationScore":
			        multiply = 1-(coli-6622.312883)/28230;
			        break;
			    case "healthScore":
			        multiply = 1-(coli-2772.007722)/31393.22642;
			        break;
			    case "crimeScore":
			        multiply = 1-(coli-4089.735849)/31690;
			        break;
					}

					var red = (240 * multiply).toString(16);
					var green = (50 * multiply).toString(16);

					var maxblue = 0 * 1/multiply;
					if (maxblue > 255) {
						maxblue = 255;
						console.log("We hit the max");
					}
					var blue = maxblue.toString(16);
					//console.log("Blue: " + blue);
					if (multiply > 1)
						console.log("Multiply higher than 100%, weird");
					if (red.indexOf(".") > 0)
						red = red.substring(0,red.indexOf("."));
					if (green.indexOf(".") > 0)
						green = green.substring(0,green.indexOf("."));
					if (blue.indexOf(".") > 0)
						blue = blue.substring(0,blue.indexOf("."))
					
					if (red.length < 2)
						red = "0" + red;
					if (green.length < 2)
						green = "0" + green;
					if (blue.length < 2)
						blue = "0" + blue;

						console.log("Red " + red + ":Green " + green + ":Blue " + blue + " [" + multiply + "], " + coli);
					var color = "#" + red + green + "99";
				 return color;

				 return coli >= 121 ? '#89a844' :
				 coli > 110 ? '#acd033' :
				 coli > 102.5 ? '#cbd97c' :
				 coli > 100 ? '#c2c083' :
				 '#d1ccad';
				}
			      </script>
			      <script async defer
				      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBgVOMZAP6bgiZKXqmQDiw-R3JR49mNaM&signed_in=true&callback=initMap"></script>
				<div style="text-align: center;">
					<span style="display: inline; color: #f03299; margin: 5px;">Highest</span>
					<span style="display: inline; color: #000099; margin: 5px;">Lowest</span>
				</div>
				<div id="grad1"></div>
			    </paper-material>
			  </div>
			  <div class="inline" id="divright">
			    <paper-material elevation="1">
			      <div class="layout vertical">
				  
				
				<p class="paper-font-title">What would you like to look at?</p>
				<p class="paper-font-body">Choose from a wide range of social, economic, environmental and wellness factors to see a country-wide heatmap.</p>
				

				
				<paper-dropdown-menu label="Choose a factor" id="dropDownMenu">
				  <paper-menu class="dropdown-content" onclick="myfunction()">
				    <paper-item>Living Environment</paper-item>
				    <paper-item>PCT Summaries</paper-item>
				    <paper-item>Education, Skills and Training</paper-item>
				    <paper-item>Barriers to Housing & Services</paper-item>
				    <paper-item>Population Denominators</paper-item>
				    <paper-item>County Summaries</paper-item>
				    <paper-item>Employment Domain</paper-item>
				    <paper-item>Supplementary Indices</paper-item>
				    <paper-item>Deprivation</paper-item>
				    <paper-item>Local Authority Summaries</paper-item>
				    <paper-item>Overall</paper-item>
				    <paper-item>Living Environment</paper-item>
				    <paper-item>Children & Older People</paper-item>
				    <paper-item>Barriers to Housing & Services</paper-item>
				    <paper-item>Income</paper-item>
				    <paper-item>Crime</paper-item>
				    <paper-item>Health, Deprivation & Disability</paper-item>
				</paper-dropdown-menu>
				<p>From there you can see how each part of the country stacks up and filter down to see your area.</p>
				<paper-button label="Cut through the noise" onclick="javascript:location.href='http://192.168.66.64/'">Cut through the noise.</paper-button>
			    

			    </div>
			    </paper-material>
			    <paper-material>
			    <p class="paper-font-title">Morgan-Stanley Code-a-thon</p>
			    <p>Dainis Gorbunovs</p>
			    <p>Georgios Kontgiannis</p>
			    <p>David Wells</p>
			    <p>Vlad Visan</p>
			    <p>Jordan Cross</p>
			</paper-material>
			  </div>
			</div>
		      </div>
		      <div id="container">
		      </div>
		    </div>
		    <!-- <div>
		      CODE GOES HERE
		      </div> -->
		  </iron-pages>

		  <script>
		  
		  function myfunction(){			
	
			switch (document.getElementById("dropDownMenu").selectedItemLabel){
				case "Crime":
					dropDownMenuData = "crimeScore";
					break;	
				case "Education, Skills and Training":
					dropDownMenuData="educationScore";
					break;
				case "Health, Deprivation & Disability":
					dropDownMenuData="healthScore";
					break;
				default :
					dropDownMenuData = "none";
			}
			
			if (dropDownMenuData!="none"){
				initMap();
			}
		  }
		    var pages = document.querySelector('iron-pages');
		    var tabs = document.querySelector('paper-tabs');

		    tabs.addEventListener('iron-select', function() { 
		    pages.selected = tabs.selected;
		    });
		  </script>

		  
	      </paper-scroll-header-panel>

	    <!-- Uncomment next block to enable Service Worker support (1/2) -->
	    <!--
		<paper-toast id="caching-complete"
		             duration="6000"
		             text="Caching complete! This app will work offline.">
		</paper-toast>

		<platinum-sw-register auto-register
		                      clients-claim
		                      skip-waiting
		                      on-service-worker-installed="displayInstalledToast">
		  <platinum-sw-cache default-cache-strategy="fastest"
		                     cache-config-file="cache-config.json">
		  </platinum-sw-cache>
		</platinum-sw-register>
		-->

	  </template>

	  <!-- build:js scripts/app.js -->
	  <script src="scripts/app.js"></script>
	  <!-- endbuild-->
	</body>
