doctype html

html(lang="en").
	<head>
	  <meta charset="utf-8">
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="generator" content="Polymer Starter Kit" />
	  <title>#{ title }</title>
	  <!-- Place favicon.ico in the `app/` directory -->

	  <!-- Chrome for Android theme color -->
	  <meta name="theme-color" content="#2E3AA1">

	  <!-- Web Application Manifest -->
	  <link rel="manifest" href="manifest.json">

	  <!-- Tile color for Win8 -->
	  <meta name="msapplication-TileColor" content="#3372DF">

	  <!-- Add to homescreen for Chrome on Android -->
	  <meta name="mobile-web-app-capable" content="yes">
	  <meta name="application-name" content="PSK">
	  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

	  <!-- Add to homescreen for Safari on iOS -->
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
	  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

	  <!-- Tile icon for Win8 (144x144) -->
	  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

	  <!-- build:css styles/main.css -->
	  <link rel="stylesheet" href="styles/main.css">
	  <!-- endbuild-->

	  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
	  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	  <!-- endbuild -->

	  <!-- will be replaced with elements/elements.vulcanized.html -->
	  <link rel="import" href="elements/elements.html">
	  <!-- endreplace-->

	  <!-- For shared styles, shared-styles.html import in elements.html -->
	  <style is="custom-style" include="shared-styles"></style>

	</head>

	<body unresolved class="fullbleed layout vertical">
	  <span id="browser-sync-binding"></span>
	  <template is="dom-bind" id="app">

	   

	      <!-- Main Area -->
	      <paper-scroll-header-panel main condenses keep-condensed-header>

		<!-- Main Toolbar -->
		
		<style>
		  #mainToolbar {
		  background: #F44336;
		  }
		</style>
		
		<paper-toolbar id="mainToolbar" class="tall">
		  <span class="flex"></span>

		  <!-- Application name -->

		  <div class="middle middle-container center horizontal layout" style="margin: 12px;">
		    <div class="app-name" style="margin-right: 24px;">VIDI: I saw, I helped.</div>
		    <div>
		    <paper-tabs selected="0">
			<paper-tab>Category</paper-tab>
			<paper-tab>Locale</paper-tab>
		    </paper-tabs>
		    </div>
		  </div>

		</paper-toolbar>
		  <iron-pages selected="0">
		    <div>
		      
		      <style type="text/css">
			#container {
			margin-left: 5%;
			margin-right: 5%;
			padding: 0px;
			}
			#container > #divleft {
			padding: 16px;
			margin-left: 0px;
			
			}
			#container > #divright {
			padding: 16px;
			margin-right: 0px;
			max-width: 30%;
			}
		      </style>
		      <div class="layout vertical">
			<div class="layout horizontal" id="container">
			  <div class="flex" id="divleft">
			    <paper-material elevation="1">
			      <p class="paper-font-title">Regional Heatmap</p>

			      <div id="map" style="height: 600px;"></div>
			      <script>
				var map;
				function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
					zoom: 8,
					center: {lat: 51.5142, lng: -0.0931}
					});

					// NOTE: This uses cross-domain XHR, and may not work on older browsers.
					map.data.loadGeoJson('LA/ladata.json');

					map.data.setStyle(function(feature) {
					 whichScore = 'healthScore';
					 return {
					 fillColor: getColor(feature.getProperty(whichScore), whichScore), // call function to get color for state based on the COLI (Cost of Living Index)
					 fillOpacity: 0.8,
					 strokeColor: '#b3b3b3',
					 strokeWeight: 1,
					 zIndex: 1
					 };
					});
				}
				// returns a color based on the value given when the function is called
				function getColor(coli, scoreType) {	
					var multiply = 0;
					switch(scoreType) {
			    case "educationScore":
			        multiply = 1-(coli-6622.312883)/28230;
			        break;
			    case "healthScore":
			        multiply = 1-(coli-2772.007722)/31393.22642;
			        break;
			    case "crimeScore":
			        multiply = 1-(coli-4089.735849)/31690;
			        break;
					}

					if (typeof coli === "undefined")
						multiply = 0;
					var red = (256 * multiply).toString(16).slice(0,2);
					var green = (80 * multiply).toString(16).slice(0,2);
					var blue = (80 * multiply).toString(16).slice(0,2);
					if (multiply == 0)
						console.log(red + ":" + green + ":" + blue + " [" + multiply + "], " + coli + " and " + localAuthority);
					var color = "#" + (256 * multiply).toString(16).slice(0,2) + (80 * multiply).toString(16).slice(0,2) + (80 * multiply).toString(16).slice(0,2);
				 return color;

				 return coli >= 121 ? '#89a844' :
				 coli > 110 ? '#acd033' :
				 coli > 102.5 ? '#cbd97c' :
				 coli > 100 ? '#c2c083' :
				 '#d1ccad';
				}
			      </script>
			      <script async defer
				      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBgVOMZAP6bgiZKXqmQDiw-R3JR49mNaM&signed_in=true&callback=initMap"></script>

			    </paper-material>
			  </div>
			  <div class="inline" id="divright">
			    <paper-material elevation="1">
			      <div class="layout vertical">
				<p class="paper-font-title">What would you like to look at?</p>
				<p class="paper-font-body">Choose from a wide range of social, economic, environmental and wellness factors to see a country-wide heatmap.</p>
				<paper-dropdown-menu label="Choose a factor">
				  <paper-menu class="dropdown-content">
				    <paper-item>Living Environment</paper-item>
				    <paper-item>PCT Summaries</paper-item>
				    <paper-item>Education, Skills and Training</paper-item>
				    <paper-item>Barriers to Housing & Services</paper-item>
				    <paper-item>Population Denominators</paper-item>
				    <paper-item>County Summaries</paper-item>
				    <paper-item>Employment Domain</paper-item>
				    <paper-item>Supplementary Indices</paper-item>
				    <paper-item>Deprivation</paper-item>
				    <paper-item>Local Authority Summaries</paper-item>
				    <paper-item>Overall</paper-item>
				    <paper-item>Living Environment</paper-item>
				    <paper-item>Children & Older People</paper-item>
				    <paper-item>Barriers to Housing & Services</paper-item>
				    <paper-item>Income</paper-item>
				    <paper-item>Crime</paper-item>
				    <paper-item>Health, Deprivation & Disability</paper-item>
				</paper-dropdown-menu>
				<p>From there you can see how each part of the country stacks up and filter down to see your area.</p>
				<p>Scroll down to view rankings.</p>
			    </paper-material>
			    </div>
			  </div>
			</div>
		      </div>
		      <div id="container">
			<paper-material elevation="1">
			</paper-material>
		      </div>
		    </div>
		    <div>Page Two</div>
		  </iron-pages>

		  <script>
		    var pages = document.querySelector('iron-pages');
		    var tabs = document.querySelector('paper-tabs');

		    tabs.addEventListener('iron-select', function() { 
		    pages.selected = tabs.selected;
		    });
		  </script>

		  
	      </paper-scroll-header-panel>

	    <!-- Uncomment next block to enable Service Worker support (1/2) -->
	    <!--
		<paper-toast id="caching-complete"
		             duration="6000"
		             text="Caching complete! This app will work offline.">
		</paper-toast>

		<platinum-sw-register auto-register
		                      clients-claim
		                      skip-waiting
		                      on-service-worker-installed="displayInstalledToast">
		  <platinum-sw-cache default-cache-strategy="fastest"
		                     cache-config-file="cache-config.json">
		  </platinum-sw-cache>
		</platinum-sw-register>
		-->

	  </template>

	  <!-- build:js scripts/app.js -->
	  <script src="scripts/app.js"></script>
	  <!-- endbuild-->
	</body>
